summary {
    display: flex;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

details>summary {
    list-style-type: '⬇ ';
}

details[open]>summary {
    list-style-type: '⬆ ';
}

.main-sidebar {
    details>summary {
        justify-content: space-between;
        color: light-dark(var(--base-color), var(--yellow-green))
    }

    details>summary .icon.chevron-details {
        width: auto;
        height: auto;
        bottom: 0;
        margin: 0;
    }

    details[open]>summary .chevron-details {
        transform: rotate(180deg);
    }
}