.post {
    position: relative;
    padding: 0.75rem;
    border-radius: 0.25rem;
}

section.posts>article.post {
    margin-bottom: 2rem;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.comment {
    position: relative;
    border-radius: 0.25rem;
}

.comment>.comments {
    padding: 1rem;
    gap: 1rem;
}

.comment.moderator-removed {
    display: none;
}

.comment>.moderator-hidden>summary,
.comment .comment-container {
    padding: 0.75rem;
    border-radius: 0.25rem;
}

.comments>.moderator-message,
.comment>.moderator-message,
.comment .blur-container {
    border-radius: 0.25rem;
}

.comment-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.comment-footer .button-group {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.comment-footer .button.footer-button {
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.comment-metadata {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.comment-metadata>time {
    display: inline-flex;
    gap: 1rem;
}

.moderator-message {
    border: 1px solid light-dark(var(--base-color), var(--yellow-green));
}

.moderator-message:not(.moderator-removed) .moderator-content {
    color: light-dark(var(--base-color), var(--yellow-green));
}

.moderator-message.moderator-removed {
    border: 1px solid var(--is-danger);
}

div.moderation-action {
    display: flex;
    flex-direction: row;
}

div.moderation-action>aside.moderation-action {
    flex: 0 0 auto;
    align-self: stretch;
    padding: 0.25rem;
    border-top-left-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    background-color: light-dark(var(--base-color), var(--yellow-green));
    color: light-dark(var(--very-light-gray), var(--base-color));
    writing-mode: sideways-lr;
    text-orientation: mixed;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-size-minus-1);
}


div.moderation-action>div.comment-container {
    flex: 1 1 auto;
}

div.moderation-action.moderator-removed>aside.moderation-action {
    background-color: var(--is-danger);
    color: var(--white);
}

form.comment-form small.posting-as {
    margin: 0 0 1rem 0;
}

details.moderator-hidden {
    padding: 0;
    border-radius: inherit;

    &>summary {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        border-radius: inherit;
    }

    &[open]>summary {
        margin-bottom: 0.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &>summary>footer.comment-controls:before {
        display: block;
        content: '▶︎';
        width: 1rem;
        height: auto;
    }

    &[open]>summary>footer.comment-controls:before {
        content: '▼';
    }

    &>summary>main+footer,
    &>summary>footer+footer {
        margin-top: 0.5rem;
    }

    &>summary>footer.comment-controls {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
    }

    &>summary>footer.comment-controls>span.show-comment,
    &[open]>summary>footer.comment-controls>span.hide-comment {
        display: block;
    }

    &>summary>footer.comment-controls>span.hide-comment,
    &[open]>summary>footer.comment-controls>span.show-comment {
        display: none;
    }
}

.button:not(.loading)>span.icon:not(.loading-icon) {
    display: inline;
}

.button:not(.loading)>span.icon.loading-icon {
    display: none;
}

.button.loading>span.icon:not(.loading-icon) {
    display: none;
}

.button.loading>span.icon.loading-icon {
    display: inline;
}